[submodule "vim/pack/plugins/start/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/rainbow_csv"]
	path = vim/pack/plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
